<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('head') -%>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <%- include('app-menu') -%>
    <!--MAIN HEADER AREA END -->

    <!--  SERVICE AREA START  -->
    <!-- <div style="padding: 25px"></div>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items">
                <div class="col-lg-6 col-sm-12 col-md-8 mb-4">
                    <div style="padding: 20px"></div>
                    <h3 class="mb-3">A.	Message du PDG <br>du Groupe ACTIVA</h3>
                    <p class="mb-4">Au moment où nous célébrons le 20ème anniversaire du Groupe ACTIVA, les perspectives d’évolution sont encourageantes.</p> -->

                    <!-- <span class="h5 mb-4">Chers Actionnaires, Chers partenaires, Chers lecteurs,</span> -->
                    <!-- <p>Chers Actionnaires, Chers partenaires, Chers lecteurs,</p>
                    <p class="mb-4">Comme à l’accoutumée, nous sommes heureux de vous commenter les activités de notre compagnie après une année 2017 caractérisée par un environnement économique assez instable. L’activité économique sur le plan mondial a connu une croissance de 3,6%.</p>
                    <p class="mb-4">En Afrique subsaharienne, ce taux est de 2,6% et dans la zone CEMAC de 20%. Le Cameroun quant à lui a connu une évolution de son taux de croissance qui se situe à 3,7% contre 5,6% en 2016 et une projection de 4,2% en 2018. Le marché NON VIE des assurances au Cameroun, avec ses 16 acteurs, a connu une évolution de 4% de ses activités.</p>
                    <p class="mb-4">Les faits marquants de notre compagnie au Cameroun sont :</p>
                    <p class="mb-4">Le maintien de notre notation financière à A+ Perspective Stable ;
                        Le renouvellement de la certification ISO sous sa nouvelle version 201
                    </p>
                    <p class="mb-4">Le chiffre d’affaires 2017 de la compagnie s’élève à FCFA 17,1 milliards maintenant ainsi le Groupe ACTIVA au 2e rang du marché camerounais de l’assurance avec chiffre d’affaires cumulé VIE et NON VIE de FCFA 24,4 milliards.
                    </p> -->

                    <!-- <ul class="about-list2 my-4">
                        <li class="mb-2"><i class="icofont icofont-check-circled"></i> Best Analytics Audits to your site in specific niche</li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i> Modern Keyword Analysis to keep up to date
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i> More quality content, social networking and relative sharing
                        </li>

                        <li class="mb-2">
                            <i class="icofont icofont-check-circled"> </i> Social networking and relative sharing More quality content, 
                        </li>
                    </ul> -->

                    <!-- <a href="#" class="mt-3 d-inline-block">Learn more about us <i class="fa fa-angle-right"></i></a> -->
                <!-- </div>

                <div class="col-lg-6 col-md-4">
                    <div style="padding: 45px"></div>
                    <img src="assets/img/banner/why-choose.png" alt="" class="img w-100">
                </div>
            </div> -->
            <!-- <p class="mb-4">Au niveau d’ACTIVA FINANCES, notre holding poursuit la croissance de ses activités. Après notre présence au Ghana, au Liberia, en Sierra Leone, en Guinée et à l’Ile Maurice, ACTIVA EUROPE vient d’ouvrir ses portes à Paris avec pour mission d’apporter un service de proximité à nos clients et partenaires situés en Europe</p>
            <p class="mb-4">ACTIVA FINANCES a également, au cours de l’année 2017, procédé à la levée de fonds pour accueillir dans son Actionnariat la société PROPARCO. Nous sommes ainsi heureux de pouvoir nous appuyer sur ces deux principaux leviers que constituent nos partenaires financiers la SFI depuis 2013, et la PROPARCO depuis 2017, pour accentuer le développement de notre Groupe. Le chiffre d’affaires 2017 du Groupe s’élève à FCFA 70,4 milliards en légère progression par rapport à 2016. Le bénéfice net demeure satisfaisant.</p>
            <p class="mb-4">Notre Réseau GLOBUS créé par ACTIVA en 2007, est aujourd’hui présent dans 48 pays confortant ainsi sa place de premier réseau panafricain d’assurance en Afrique. Le Réseau GLOBUS a fêté son 10ème anniversaire en 2017 confirmant ainsi sur la durée, sa capacité à proposer des solutions globales d’assurances aux entreprises installées en Afrique.</p>
            <p class="mb-4">La compagnie de réassurance captive de notre réseau, GLOBUS RE a vu son chiffre d’affaires s’améliorer ainsi que ses différents indicateurs financiers.</p>
            <p class="mb-4">Au moment où nous célébrons le 20ème anniversaire du Groupe ACTIVA, les perspectives d’évolution sont encourageantes. Un des principaux challenges sera notre capacité à maîtriser l’introduction à la digitalisation pour le développement de notre métier.</p>
            <p class="mb-4">Un vibrant MERCI à nos clients et partenaires qui nous ont toujours fait confiance. MERCI également à ce personnel dévoué dont la jeunesse et la disponibilité vis-à-vis de la clientèle constituent les atouts majeurs</p>
            <h6 class="mb-3">Richard LOWE <br>Président Directeur Général</h6> -->
        <!-- </div>
    </section> -->
    <!--  ABOUT AREA END  -->

    <!-- <section class="section pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                    <img src="assets/img/bg/S_&_WHAPPS_Accident.png" alt="feature bg" class="img-fluid">
                </div>

                <div class="col-lg-7 pl-4">
                   <div class="mb-5">
                        <h3 class="mb-4">Identité & Stratégie </h3>
                        <p>Le Groupe ACTIVA est un acteur majeur du secteur des assurances en Afrique		 subsaharienne. L’ambition du Groupe ACTIVA est de devenir un groupe africain de référence dans le domaine des assurances, en offrant à ses clients et partenaires internationaux des services de qualité et la sécurité financière de leurs couvertures.</p>
                    </div> -->

                    <!-- <ul class="about-list">
                        <li> <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Responsive site</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i> Latest bootstrap 4</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Modern design</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>
                        <li>
                            <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Working contact form</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>
                    </ul> -->
                <!-- </div>
            </div>
        </div>
    </section> -->

    <!-- <section class="section pt-0">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-7 pl-4" style="text-align: right">
                   <div class="mb-5">
                        <h3 class="mb-4">Nos atouts</h3>
                        <p>ACTIVA a développé au cours des années des atouts qui font d’elle une des compagnies les plus fiables du marché camerounais.
                            Solidité Financière;</p> 
                            <p>gage de sa capacité à régler tous les sinistres et ainsi mériter la confiance de ses clients
                            Fonds propres : grâce à une politique judicieuse d’affectation des résultats, les actionnaires consentent chaque année à veiller au financement de l’entreprise. La compagnie a ainsi obtenu la note A « perspective stable » par l’agence Global Crédit Rating (GCR) depuis 2009
                            Le soutien de partenaires internationaux reconnus et solides</p>
                            <p>
                            Professionnalisme : Première compagnie du marché camerounais à obtenir la certification à la norme ISO 9001/2008, attribuée par le premier certificateur mondial qu’est la SGS France en novembre 2010.
                            </p>
                    </div> -->
<!-- 
                    <ul class="about-list">
                        <li> <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Responsive site</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i> Latest bootstrap 4</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Modern design</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>
                        <li>
                            <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Working contact form</h5>
                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                        </li>
                    </ul> -->
                <!-- </div>
                <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                    <img src="assets/img/bg/S_&_WHAPPS__MRH,AUTO&IndAccident-04.jpg" alt="feature bg" class="img-fluid">
                </div>
            </div>
        </div>
    </section> -->
    <div style="padding: 95px"></div>
    <section class="section pt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                    <img src="assets/img/blog/nos_valeurs.jpg" alt="feature bg" class="img-fluid">
                </div>
                <div class="col-lg-7 pl-4">
                   <!-- <div class="mb-5">
                        <h3 class="mb-4">Nos atouts</h3>
                        <p>ACTIVA a développé au cours des années des atouts qui font d’elle une des compagnies les plus fiables du marché camerounais.
                            Solidité Financière;</p> 
                            <p>gage de sa capacité à régler tous les sinistres et ainsi mériter la confiance de ses clients
                            Fonds propres : grâce à une politique judicieuse d’affectation des résultats, les actionnaires consentent chaque année à veiller au financement de l’entreprise. La compagnie a ainsi obtenu la note A « perspective stable » par l’agence Global Crédit Rating (GCR) depuis 2009
                            Le soutien de partenaires internationaux reconnus et solides</p>
                            <p>
                            Professionnalisme : Première compagnie du marché camerounais à obtenir la certification à la norme ISO 9001/2008, attribuée par le premier certificateur mondial qu’est la SGS France en novembre 2010.
                            </p>
                    </div> -->
 
                    <ul class="about-list">
                        <li> 
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>L’Ecoute client </h5>
                            <p>Prendre en compte les besoins du client afin de construire une relation satisfaisante</p>
                        </li>

                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Le Respect des Engagements </h5>
                            <p>Être présent lorsque vous avez le plus besoin de nous 
                            c’est-à-dire régler vos sinistres le plus rapidement possible  </p>
                        </li>
                        <li>
                            <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>La Réactivité </h5>
                            <p>Faire preuve de diligence afin de garantir la satisfaction totale des clients</p>
                        </li>
                        <li>
                            <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Working contact form</h5>
                            <p>Apporter les solutions au client là où il se trouve.</p>
                        </li>
                        <li>
                            <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>L’Innovation</h5>
                            <p>Anticiper sur les évolutions du marché</p>
                        </li>

                    </ul> 
                </div>

            </div>
        </div>
    </section>

    <!-- <section class="section pt-0">
            <div class="container">
                <div class="row align-items-center">
    
                    <div class="col-lg-7 pl-4" style="text-align: right">
                       <div class="mb-5">
                            <h3 class="mb-4">Nos engagements & RSE</h3>
                            <p>En intégrant ACTIVA, vous rejoignez une entreprise engagée en matière de responsabilité sociétale et gagnez en expérience dans un environnement challengeant, collaboratif et diversifié. Nos succès se construisent dans le respect de nos collaborateurs, premiers moteurs de notre réussite.</p>
                            <p>Notre volonté : intégrer des profils variés, offrir des opportunités de carrières diversifiées et développer vos compétences, dès votre intégration et tout au long de votre parcours.</p>
                            <p>Employeur responsable, nous agissons en faveur de la diversité et de l’égalité des chances notamment sur la qualité de vie et la santé au travail, l’équilibre vie privée/vie professionnelle.</p>
                        </div> -->
    <!-- 
                        <ul class="about-list">
                            <li> <h5 class="mb-2"><i class="icofont icofont-check-circled"></i>Responsive site</h5>
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                            </li>
    
                            <li>
                                <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i> Latest bootstrap 4</h5>
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                            </li>
    
                            <li>
                                <h5 class="mb-2"><i class="icofont icofont-check-circled"> </i>Modern design</h5>
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                            </li>
                            <li>
                                <h5 class="mb-2"> <i class="icofont icofont-check-circled"> </i>Working contact form</h5>
                                <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.</p>
                            </li>
                        </ul> -->
                    <!-- </div>
                    <div class="col-lg-5 col-sm-12 col-md-6 mb-4">
                        <img src="assets/img/bg/S_&_WHAPPS__MRH,AUTO&IndAccident-04.jpg" alt="feature bg" class="img-fluid">
                    </div>
                </div>
            </div>
        </section> -->

    
    <!--  HISTORY AREA  -->
    <!-- <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="media img-block mb-3 mb-lg-0">
                        <img src="assets/img/bg/S_&_WHAPPS__MRH,AUTO&IndAccident-07.jpg" alt="" class="img-fluid rounded mr-3">
                        
                        <div class="media-body ">
                            <h4 class="mb-3">Provide services with maintain quality from 24 years!</h4>
                            <p>We provide marketing services to startups.Let's start your site in grow high.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="media img-block">
                        <img src="assets/img/about/h-2.jpg" alt="" class="img-fluid rounded mr-3">
                    
                        <div class="media-body">
                            <h4 class="mb-3">Our mission is to provide our client what they need!</h4>
                            <p>We provide small businesses looking for a partner for their digital media</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--  HISTORY AREA END  -->

  <!-- COUNTER AREA  -->
    <!-- <section class="section-padding pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter  text-dark font-weight-normal">460</span>
                        <h5 class="text-uppercase mt-2">Our Happy Clients</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter text-dark font-weight-normal">60</span>
                        <h5 class="text-uppercase mt-2">Projects Done</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded mb-4">
                        <span class="counter text-dark font-weight-normal">30</span>
                        <h5 class="text-uppercase mt-2">Experienced stuff</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="text-center border p-4 rounded ">
                        <span class="counter text-dark font-weight-normal">25</span>
                        <h5 class="text-uppercase mt-2">Ongoning Projects</h5>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--  COUNTER AREA END -->

    <!--  SECTION CTA START  -->
    <!-- <section class="section-padding" id="section-strategy">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <span class="icon-3x text-default"><i class="icofont icofont-layers"></i></span>
                                <h4 class="my-3">Be on the top of Google</h4>
                                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <span class="icon-3x text-default"><i class="icofont icofont-time"></i></span>
                                <h4 class="my-3">Save your time</h4>
                                <p>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="icon-3x text-default"><i class="icofont icofont-ui-browser"></i></span>
                                <h4 class="my-3">Cross-devices ability</h4>
                                <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <span class="icon-3x text-default"><i class="icofont icofont-shield"></i></span>
                                <h4 class="my-3">Trusted by hundreds</h4>
                                <p>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--  SECTION CTA END  -->

    <!--  SECTION TEAM  -->
    <!-- <section class="section-padding bg-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <h3 class="mb-2">Our Expert Members do the magical</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dignissimos?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img src="assets/img/team/team-1.jpg" alt="" class="img-fluid rounded w-100">

                    <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                    <h4 class="mt-3">Michale John</h4>
                    <p>Senior Manager</p>
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="assets/img/team/team-2.jpg" alt="" class="img-fluid rounded w-100">

                    <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                    <h4 class="mt-3">Michale John</h4>
                    <p>Marketing Manager</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="assets/img/team/team-3.jpg" alt="" class="img-fluid rounded w-100">

                    <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                    <h4 class="mt-3">Michale John</h4>
                    <p>Marketing Manager</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="assets/img/team/team-4.jpg" alt="" class="img-fluid rounded w-100">

                    <ul class="list-unstyled list-inline team-social mt-4">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-google-plus"></i></a></li>
                    </ul>
                    <h4 class="mt-3">Michale John</h4>
                    <p>Junior Developer</p>
                </div>
            </div>
        </div>
    </section> -->
    <!--  SECTION TEAM END  -->

    <!--  PARTNER START  -->
    <!-- <section class="section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center text-lg-left">
                    <div class="mb-5">
                        <h3 class="mb-2">Nos partenaires </h3>
                        <p>Ils sont beaucoup de part et d'autre du mode, En dépit de tout, ils nous font confiance</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="assets/img/clients/client01.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="assets/img/clients/client06.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="assets/img/clients/client04.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="assets/img/clients/client05.png" alt="partner" class="img-fluid">
                </div>
            </div>
        </div>
    </section> -->
    <!--  PARTNER END  -->

    <!--  FOOTER AREA START  -->

    <!-- <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer-copy">
                        © 2018 Promodise inc. All Rights Reserved.
                    </div>
                    <div style="padding: 20px"></div>
                </div>
            </div>
        </div>
    </section> -->

    <!--  FOOTER AREA START  -->
    <%- include('footer') -%>
    <!--  FOOTER AREA END  -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <%- include('app-script') -%>

</body>

</html>