<nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container container-shift">
        <a class="navbar-brand" style="margin-top: -20px" href="/">
            <img width="100px" src="../assets/img/logo_ok_end.png" alt="" class="img-fluid b-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars"></i>
            </span>
          </button>

        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
            <ul class="navbar-nav ">
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarWelcome" role="button"  aria-haspopup="true" aria-expanded="false">
                        Acceuil 
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        A propos         
                        <span class="navbar-toggler-icon" style="padding-left:6px;">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <a class="dropdown-item " href="../aboutpdg">
                            Message du PDG du groupe activa
                        </a>
                        <a class="dropdown-item " href="../aboutstrategies">
                            Identité & Stratégie
                        </a>
                        <a class="dropdown-item " href="../aboutatouts">
                            Nos valeurs
                        </a> 
                        <a class="dropdown-item " href="../aboutrse">
                            Nos engagements & RSE
                        </a>
                       
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../services" id="navbarWelcome" role="button"  aria-haspopup="true" aria-expanded="false">
                        Assurances non vie
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="pricing.html">Life insurance</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="../doleances">Votre avis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="../actualite">évenements & actualités </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Activa      
                        <span class="navbar-toggler-icon" style="padding-left:6px;">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                        <a class="dropdown-item " href="https://activa-cameroun.com" target="_blanck">
                            Activa Cameroun
                        </a>
                        <a class="dropdown-item " href="http://www.activa-ghana.com/" target="_blanck">
                            Activa Ghana
                        </a>
                        <a class="dropdown-item " href="https://www.activa-liberia.com/" target="_blanck">
                            Activa Liberia
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="../contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link smoth-scroll" href="../search">                        
                        <span class="navbar-toggler-icon" style="padding-left:6px;">
                            <i class="fa fa-search"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--MAIN HEADER AREA END -->