
    <!--  PARTNER START  -->
    <section  class="section-padding ">
        <div class="container">
            <div class="patenaire-title">
                NOS PARTENAIRES
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="../assets/img/partenaires/Munich_RE.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="../assets/img/partenaires/globus_re.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                     <img src="../assets/img/partenaires/scor.png" alt="partner" class="img-fluid">
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <img src="../assets/img/partenaires/swiss.png" alt="partner" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--  PARTNER END  -->
    
<section id="footer" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-8 col-md-8">
                <div class="footer-widget footer-link">
                    <h4> Nous nous préoccupons <br> de votre assurance...</h4>
                    <p>Notre Réseau GLOBUS créé par ACTIVA en 2007, est aujourd’hui présent dans 48 pays confortant ainsi sa place de premier réseau panafricain d’assurance en Afrique. </p>
                    <br>
                    <img width="200px" src="../assets/icons/logo_globus.png"/>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-md-4">
                <div class="footer-widget footer-link">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="/">Acceuil</a></li>
                        <li><a href="../services">Services</a></li>
                        <!-- <li><a href="../assurences">Assurences</a></li> -->
                        <li><a href="../doleances">Doléances</a></li>
                        <li><a href="../actualite">Actualités</a></li>
                        <li><a href="../contact">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="footer-widget footer-link">
                    <h4>Produits</h4>
                    <ul>
                        <li><a href="#">Particulier</a></li>
                        <li><a href="#">Multi risque</a></li>
                        <li><a href="#">Sécurité</a></li>
                        <li><a href="#">individuel</a></li>
                        <li><a href="#">Constructions</a></li>
                        <li><a href="#">Entreprise</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="footer-widget footer-text">
                    <h4>Localisation</h4>
                    <p class="mail"><span>Mail:</span> p.kongo@activa-rdc.com</p>
                    <p><span>Phone :</span>+243 808 590 018</p>
                    <p><span>Location:</span> 4, Avenue Pumbu, Gombe, Kinshasa, Rép. Dém. du congo <br><span>Réf: Derière le palais de la Justice</span> </p>
                    <ul class="icon-social">
                        <li> <a href="#"><img width="30px" src="../assets/icons/facebook.png" alt=""></a></li>
                        <li><a href="#"><img width="30px" src="../assets/icons/twitter.png" alt=""></a></li>
                        <li><a href="#"><img width="30px" src="../assets/icons/instangram.png" alt=""></a></li>
                        <li><a href="#"><img width="30px" src="../assets/icons/youtube.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer-copy">
                    © 2019 Activa RDC. Tous droits réservés.
                </div>
            </div>
        </div>
    </div>
</section>