<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('head') -%>

</head>

<body data-spy="scroll" data-target=".fixed-top">
    <!--MAIN HEADER AREA END -->
    <%- include('app-menu') -%>
    <!--MAIN HEADER AREA END -->

    <!--MAIN BANNER AREA START -->
    <div class="page-banner-area page-blog" id="page-banner" style="height: 400px;">
        <div class="overlay dark-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding" style="padding-top: 100px">
                        <div style="padding-left: 20px;">
                            <div class="mb-5">
                                <h2 class="mb-2" style="color: aliceblue;">Faite Votre recherche</h2>
                                <!-- <p>Informez-nous sur vos besoin et vos suggestions en envoyant votre message tout en decrivant le produit concerné sur le message.</p> -->
                            </div>
                        </div>
                        <div class="column">
                            <div >
                                <form class="" method="GET" action="fullsearch">
                                    <!-- form message -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                                Your message was sent successfully.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end message -->
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <input name="subject" type="text" class="form-control"  placeholder="Faite une recherche sur un produit d'activa" required>
                                            <!-- <input class="input100" type="text" name="city" placeholder="Code année accademique"> -->
                                        </div>
                                        <!-- <div class="col-12 mt-4">
                                            <input name="submit" type="submit" class=" btn btn-hero btn-circled" value="Rechercher">
                                        </div> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN HEADER AREA END -->

    <!--  Blog AREA End -->
    <div style="padding:20px">

    </div>
    <!--  FOOTER AREA START  -->
    <%- include('footer') -%>
    <!--  FOOTER AREA END  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <%- include('app-script') -%>

</body>

</html>