<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('head') -%>
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <%- include('app-menu') %>
    <!--MAIN HEADER AREA END -->

    <!--MAIN BANNER AREA START -->
    <!-- <div class="page-banner-area page-service" id="page-banner">
        <div class="overlay dark-overlay"></div>
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                    <div class="banner-content content-padding">
                        <h1 class="text-white">Ce qu'il vous faut!</h1>
                        <p>Nos services sont des modeles à part entiere dans le monde d'assurence</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--MAIN HEADER AREA END -->
    <!--  SERVICE AREA END  -->

    <!--  SERVICE PARTNER START  -->
    <section id="service-head" class="service-style-two">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-12 m-auto">
                    <div style="padding: 45px"></div>
                </div>
            </div>
        </div>
    </section>
    <!--  SERVICE PARTNER END  -->

    <!--  SERVICE AREA START  -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6 product">
                    <a href="services/individuel">
                        <div class="service-box p-5 rounded mb-4">
                            <img width="100px" src="assets/icons/activa_individuelle_accidents.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Individuelle Accidents</h4>
                            <p>Cette couverture vous protège des conséquences financières lourdes d’un accident</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/automobile">
                        <div class="service-box p-5 rounded mb-4">
                            <img width="100px" src="assets/icons/activa_assurence_automobile.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">ACTIVA Assurances Automobile</h4>
                            <p>Nos options de couverture ont été conçues pour s’adapter à vos besoins...</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/voyage">
                        <div class="service-box p-5 rounded mb-4">
                            <img width="100px" src="assets/icons/activa_assistance_voyage.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa assistance voyage & évacuation</h4>
                            <p>Une garanties essentielles pour passer un séjour en toute sérénité jusqu’à votre retour en RDC</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/sante">
                        <div class="service-box p-5 rounded ">
                            <img width="100px" src="assets/icons/activa_sante.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Sante</h4>
                            <p>Cette couverture vous protège des conséquences financières lourdes d’un accident corporel</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/multirisque">
                        <div class="service-box p-5 rounded ">
                            <img  width="100px" src="assets/icons/activa_multirisque.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Multirisques Habitation</h4>
                            <p>Votre logement est précieux et unique. Pensez à le couvrir...</p>
                            
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/multirisqueent">
                        <div class="service-box p-5 rounded ">
                            <img width="100px" src="assets/icons/activa_multi_risque.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">  Activa Multirisques Entreprise</h4>
                            <p>Les bâtiments, équipements et matériels de votre entreprise...</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/respcivil">
                        <div class="service-box p-5 rounded ">
                            <img width="100px" src="assets/icons/activa_responsabilite_civile.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Responsabilite Civile</h4>
                            <p>Un accident est vite arrivé. Un moment d’inattention suffit...</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/incendie">
                        <div class="service-box p-5 rounded ">
                            <img width="100px" src="assets/icons/activa_incendie.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Incendie & Risques Assimiles</h4>
                            <p>Il n’existe pas de risque zéro, surtout en matière de risques à domicile...</p>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="services/incendie">
                        <div class="service-box p-5 rounded ">
                            <img src="assets/img/icon/004-hiring.png" alt="service-icon" class="img-fluid">
                            <h4 class="my-4">Activa Incendie & Risques Assimiles</h4>
                            <p>Les bâtiments, équipements et matériels de votre entreprise...</p>
                            <br>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </section>
    <!--  SERVICE AREA END  -->

    <!--  FOOTER AREA START  -->
        <%- include('footer') %>
    <!--  FOOTER AREA END  -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <%- include('app-script') %>

</body>

</html>